{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}



{% block body %}
<div class="container mt-5">

    <h4>Remember, in the service industry, tips are much more valuable than wages, because they are a reflection of your work:</h4>
    <br>
    <p>BTC mainnet addres: PApErWaLLetN0TSenDAnyThIng</p>
    <p>ETH erc20 addres: nullXn0tsEedThankSPApErWaLLetN0TSenDAnyThIng</p>
    <p>USDT trc20  addres: THaNksPApErWaLLetN0TSenDAnyThIng</p>
    <br>
    <p>Write to me on github</p>
</div>
{% endblock %}